.details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top:32px;
}

.details {
    width: 50%;
    max-width: 400px;
    margin-left: 35px;
}

.img-container {
    width: 50%;
}

.img-container img {
    max-width: 100%;
}

@media (max-width:768px){
    .img-container {
        width: 80%;
    }

    .details {
        width:80%;
    }

    .details-container {
        margin: 0;
    }    
}

.price {
  margin: 15px 0;  
}

.descrcription {
    line-height: 1.5;
}