.details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}

.details {
    width: 50%;
    max-width: 400px;
    margin-left: 15px;
}

.img-container {
    width: 50%;
}

.img-container img {
    max-width: 100%;
}

@media (max-width:768px){
    .img-container {
        width: 80%;
    }

    .details {
        width:80%;
    }
}

.descrcription {

}