.img-container {
    position: relative;
    height: 280px;
    overflow: hidden;
}

.img {
    width: 1050px;
    max-height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    max-width: none;
}

@media (max-width: 767px) {
    .shop-image {
        height: 200px;
    }
    .img {
        width:752px;
    }
}